<a href="https://colab.research.google.com/github/stefaniemeliss/IADS_SC_2022_Python/blob/main/Exercise_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Classes

Variables, Lists, Dictionaries etc in python is a object. Without getting into the theory part of Object Oriented Programming, explanation of the concepts will be done along this tutorial.

A class is declared as follows

class class_name:

    Functions

In [1]:
class FirstClass:
    pass

**pass** in python means do nothing.

Above, a class object named "FirstClass" is declared now consider a "egclass" which has all the characteristics of "FirstClass". So all you have to do is, equate the "egclass" to "FirstClass". In python jargon this is called as creating an instance. "egclass" is the instance of "FirstClass"

In [2]:
egclass = FirstClass()

Now let us add some "functionality" to the class. So that our "FirstClass" is defined in a better way. A function inside a class is called as a "Method" of that class

Most of the classes will have a function named "\_\_init\_\_". These are called as magic methods. In this method you basically initialize the variables of that class or any other initial algorithms which is applicable to all methods is specified in this method. A variable inside a class is called an attribute.

These helps simplify the process of initializing a instance. For example,

Without the use of magic method or \_\_init\_\_ which is otherwise called as constructors. One had to define a **init( )** method and call the **init( )** function.

In [3]:
eg0 = FirstClass()
eg0.init()

AttributeError: ignored

But when the constructor is defined the \_\_init\_\_ is called thus intializing the instance created.

We will make our "FirstClass" to accept two variables name and symbol.

I will be explaining about the "self" in a while.

In [4]:
class FirstClass:
    def __init__(self,name,symbol):
        self.name = name
        self.symbol = symbol

Now that we have defined a function and added the \_\_init\_\_ method. We can create a instance of FirstClass which now accepts two arguments.

In [5]:
eg1 = FirstClass('one',1)
eg2 = FirstClass('two',2)

In [ ]:
print(eg1.name, eg1.symbol)
print(eg2.name, eg2.symbol)

one 1
two 2

Changing the FirstClass function a bit,

In [6]:
class FirstClass:
    def __init__(self,name,symbol):
        self.n = name
        self.s = symbol

Changing self.name and self.symbol to self.n and self.s respectively will yield,

In [7]:
eg1 = FirstClass('one',1)
eg2 = FirstClass('two',2)

In [8]:
print(eg1.name, eg1.symbol)
print(eg2.name, eg2.symbol)

AttributeError: ignored

AttributeError, Remember variables are nothing but attributes inside a class? So this means we have not given the correct attribute for the instance.

In [9]:
print(eg1.n, eg1.s)
print(eg2.n, eg2.s)

one 1
two 2

So now we have solved the error. Now let us compare the two examples that we saw.

When I declared self.name and self.symbol, there was no attribute error for eg1.name and eg1.symbol and when I declared self.n and self.s, there was no attribute error for eg1.n and eg1.s

From the above we can conclude that self is nothing but the instance itself.

Remember, self is not predefined it is userdefined. You can make use of anything you are comfortable with. But it has become a common practice to use self.

Let us add some more methods to FirstClass.

In [14]:
class FirstClass:
    def __init__(self,name,symbol):
        self.name = name
        self.symbol = symbol
    def square(self):
        return self.symbol * self.symbol
    def cube(self):
        return self.symbol * self.symbol * self.symbol
    def multiply(self, x):
        return self.symbol * x

# all but init have a return statement --> define the methods that can be used on the class of objects

In [15]:
eg4 = FirstClass('Five',5)

In [16]:
print(eg4.square())
print(eg4.cube())

25
125

In [17]:
eg4.multiply(2) # 2 passes the x argument for the multiplication

10

The above can also be written as,

In [18]:
FirstClass.multiply(eg4,2)

10

##Inheritance

There might be cases where a new class would have all the previous characteristics of an already defined class. So the new class can "inherit" the previous class and add it's own methods to it. This is called as inheritance.

Consider class SoftwareEngineer which has a method salary.

In [20]:
class SoftwareEngineer:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def salary(self, value):
        self.money = value
        print(self.name,"earns",self.money)

In [21]:
a = SoftwareEngineer('Kartik',26)

In [22]:
a.salary(40000)

Kartik earns 40000

In [24]:
dir(SoftwareEngineer)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'salary']

Now consider another class Artist which tells us about the amount of money an artist earns and his artform.

In [26]:
class Artist:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def money(self,value):
        self.money = value
        print(self.name,"earns",self.money)
    def artform(self, job):
        self.job = job
        print(self.name,"is a", self.job)

In [27]:
b = Artist('Nitin',20)

In [28]:
b.money(50000)
b.artform('Musician')

Nitin earns 50000
Nitin is a Musician

In [29]:
dir(Artist)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'artform',
 'money']

money method and salary method are the same. So we can generalize the method to salary and inherit the SoftwareEngineer class to Artist class. Now the artist class becomes,

In [31]:
class Artist(SoftwareEngineer):
    def artform(self, job):
        self.job = job
        print(self.name,"is a", self.job)

In [33]:
c = Artist('Nishanth',21)

In [ ]:
dir(Artist)

['__doc__', '__init__', '__module__', 'artform', 'salary']

In [34]:
c.salary(60000)
c.artform('Dancer')

Nishanth earns 60000
Nishanth is a Dancer

Suppose say while inheriting a particular method is not suitable for the new class. One can override this method by defining again that method with the same name inside the new class.

In [36]:
class Artist(SoftwareEngineer):
    def artform(self, job):
        self.job = job
        print(self.name,"is a", self.job)
    def salary(self, value):
        self.money = value
        print(self.name,"earns",self.money)
        print("I am overriding the SoftwareEngineer class's salary method")

In [37]:
c = Artist('Nishanth',21)

In [38]:
c.salary(60000)
c.artform('Dancer')

Nishanth earns 60000
I am overriding the SoftwareEngineer class's salary method
Nishanth is a Dancer

If not sure how many times methods will be called it will become difficult to declare so many variables to carry each result hence it is better to declare a list and append the result.

In [39]:
class emptylist:
    def __init__(self):
        self.data = []
    def one(self,x):
        self.data.append(x)
    def two(self, x ):
        self.data.append(x**2)
    def three(self, x):
        self.data.append(x**3)

In [40]:
xc = emptylist()

In [41]:
xc.one(1)
print(xc.data)

[1]

Since xc.data is a list direct list operations can also be performed.

In [42]:
xc.data.append(8)
print(xc.data)

[1, 8]

In [43]:
xc.two(3)
print(xc.data)

[1, 8, 9]

If the number of input arguments varies from instance to instance asterisk can be used as shown.

In [44]:
class NotSure:
    def __init__(self, *args):
        self.data = ''.join(list(args))

In [45]:
yz = NotSure('I', 'Do' , 'Not', 'Know', 'What', 'To','Type')

In [46]:
yz.data

'IDoNotKnowWhatToType'