<a href="https://colab.research.google.com/github/stefaniemeliss/IADS_SC_2022_Python/blob/main/Exercise_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Data Structures
In simple terms, It is the the collection or group of data in a particular structure.

#### Lists
Lists are the most commonly used data structure. Think of it as a sequence of data that is enclosed in square brackets and data are separated by a comma. Each of these data can be accessed by calling its index value.

Lists are declared by just equating a variable to '[ ]' or list.

In [105]:
# to define a list, use square brackets

a = []

In [106]:
print(type(a))

<class 'list'>

In [107]:
x = ['apple', 'orange', 'banana']

## Indexing

In [108]:
x[1]

'orange'

In [109]:
# Indexing can also be done in reverse order. That is the last element can be accessed first.
# Here, indexing starts from -1. Thus index value -1 will be banana and index -2 will be orange.

x[-2]

'orange'

As you might have already guessed, x[0] = x[-2], x[1] = x[-1]. This concept can be extended towards lists with more many elements.

In [110]:
y = ['carrot','potato']

In [113]:
# combine two lists into one list

z  = [x,y]
print(z)

[['apple', 'orange', 'banana'], ['carrot', 'potato']]

In [112]:
# this now accesses the first (0th) list within the nested list

z1 = z[0]
print(z1)

['apple', 'orange', 'banana']

In [114]:
z[0][0]

'apple'

## Slicing
Indexing was only limited to accessing a single element, Slicing on the other hand is accessing a sequence of data inside the list. In other words "slicing" the list.

Slicing is done by defining the index values of the first element and the last element from the parent list that is required in the sliced list. It is written as parentlist[ a : b ] where a,b are the index values from the parent list. If a or b is not defined then the index value is considered to be the first value for a if a is not defined and the last value for b when b is not defined.

In [115]:
num = [0,1,2,3,4,5,6,7,8,9] # creates a list

In [117]:
print(num[0:4]) # starting from 0 going to 4 exlusively, hence finishing at 3
print(num[4:]) # including 4 until end

[0, 1, 2, 3]
[4, 5, 6, 7, 8, 9]

In [118]:
num[:9:3] # :3 picks every third element

[0, 3, 6]

In [119]:
len(num) # print length of list

10

In [120]:
min(num) # shows min number of list

0

In [121]:
max(num) # shows maximum number of list

9

Lists can be concatenated by adding, '+' them. The resultant list will contain all the elements of the lists that were added. The resultant list will not be a nested list.

In [122]:
[1,2,3] + [5,4,7]

[1, 2, 3, 5, 4, 7]

There might arise a requirement where you might need to check if a particular element is there in a predefined list. Consider the below list.

In [123]:
names = ['Earth','Air','Fire','Water']

In [125]:
'Fire' in names

True

In [126]:
'Smith' in names

False

## Append

In [133]:
lst = [1,1,4,8,7]

In [128]:
# add an element to the end of the lst
lst.append(1)
print(lst)

[1, 1, 4, 8, 7, 1]

In [129]:
lst.count(1) # count the number of elements equal to 1 in lst

3

append( ) function can also be used to add a entire list at the end. Observe that the resultant list becomes a nested list.

In [134]:
lst1 = [5,4,2,8]

In [135]:
lst.append(lst1) # add lst1 to end of lst as a nested element
print(lst)

[1, 1, 4, 8, 7, [5, 4, 2, 8]]

But if nested list is not what is desired then extend( ) function can be used.

In [136]:
lst.extend(lst1)
print(lst)

[1, 1, 4, 8, 7, [5, 4, 2, 8], 5, 4, 2, 8]

In [137]:
# access the nested list at 6th position

print(lst[6])

5

In [138]:
lst.index(8) # print the index of the first occurance of the element 8 in lst

3

insert(x,y) is used to insert a element y at a specified index value x. append( ) function made it only possible to insert at the end.

In [139]:
lst.insert(5, 'name') # adds the element 'name' to lst at the 5th position
print(lst)

[1, 1, 4, 8, 7, 'name', [5, 4, 2, 8], 5, 4, 2, 8]

insert(x,y) inserts but does not replace element. If you want to replace the element with another element you simply assign the value to that particular index.

In [140]:
lst[5] = 'Python' # replaces the 5th element of lst with 'Python'
print(lst)

[1, 1, 4, 8, 7, 'Python', [5, 4, 2, 8], 5, 4, 2, 8]

pop( ) function removes the last element in the list. This is similar to the operation of a stack. Hence it wouldn't be wrong to tell that lists can be used as a stack.

In [141]:
lst.pop()

8

Index value can be specified to pop a ceratin element corresponding to that index value.

In [142]:
lst.pop(0) # default of pop is to delete last element in lst, by adding a number in the round brackets, default of last element is overwritten by indicated

1

In [143]:
print(lst)

[1, 4, 8, 7, 'Python', [5, 4, 2, 8], 5, 4, 2]

pop( ) is used to remove element based on it's index value which can be assigned to a variable. One can also remove element by specifying the element itself using the remove( ) function.

In [144]:
lst.remove('Python')
print(lst)

[1, 4, 8, 7, [5, 4, 2, 8], 5, 4, 2]

In [145]:
del(lst[1])
print(lst)

[1, 8, 7, [5, 4, 2, 8], 5, 4, 2]

The entire elements present in the list can be reversed by using the reverse() function.

In [146]:
lst.reverse()
print(lst)

[2, 4, 5, [5, 4, 2, 8], 7, 8, 1]

Note that the nested list [5,4,2,8] is treated as a single element of the parent list lst. Thus the elements inside the nested list is not reversed.

Python offers built in operation sort( ) to arrange the elements in ascending order.

## Build In Function

In [ ]:
set1 = set([1,2,3])
set2 = set([2,3,4,5])

In [ ]:
# union( ) function returns a set which contains all the elements of both the sets without repition.

set1.union(set2)

{1, 2, 3, 4, 5}

In [ ]:
set1.add(0)
set1

{0, 1, 2, 3}

In [ ]:
set1.intersection(set2)

{2, 3}

In [ ]:
set1.difference(set2)

{0, 1}

In [ ]:
set1.issubset(set2)

False